<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpMsg}}<p>
        <p>Contact-No:--8158907736</p>
        <p>Email:--Kumarpriyatam191097@gmail.com</p>
        
    </div>
    
    {{>footer}}
</body>


</html>